body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f8faff;
  color: #002b5b;
}

header {
  background: #0056b3;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
}

.logo {
  font-size: 1.5em;
  width: 18rem;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a.active,
.nav-links a:hover {
  text-decoration: underline;
}

.hero {
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 120px 40px;
}

.hero h1 {
  color: gold;
  font-size: 2.5em;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn {
  background: white;
  color: #0056b3;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #6b8000;
  color: yellow;
}

.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 20px;
}

.feature {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 6px #050608;
}

.page-banner {
  text-align: center;
  padding: 60px 20px;
  background: black;
  color: gold;
}

.departments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

.card {
  background: rgb(246, 245, 248);
  padding-top: 20px;
  margin-top: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(1, 9, 22, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.contact-form {
  display: flex;
  justify-content: center;
  padding: 40px;
}

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  background: #002b5b;
  color: white;
  text-align: center;
  padding: 20px;
}

.p {
  color: #f8faff;
}

.p {
  color: white;
}

.p {
  color: white;
}

.p {
  color: white;
}

.p {
  color: white;
}

.div {
  width: 18rem;
}

.div {
  width: 18rem;
}

.div {
  width: 18rem;
}

.contact-icons a {
  margin: 10px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.contact-icons a:hover {
  color: gold;
}